.all{
    width: 100%;
    padding-bottom: 20px;
}

/*头部*/

.top{
    height: 35px;
    background: #333333;
    color: white;
    font-size: 13px;
    font-weight: 200;
}
.top .aa{
    float: left;
    margin-top: 8px;
    margin-left: 90px;
    color: white;
    text-decoration: none;
}
.top .top-r{
    float: right;
    margin: 12px 90px;
}
.top-r a{
    color: white;
    text-decoration: none;
}

.nav{
    height: 130px;
    width: 100%;
    display: flex;

}

.nav .nav-img{
  margin-top: 30px;
    margin-left: 160px;
    margin-right: 40px;


}
.nav .nav-list{
    margin-top: 55px;
    flex:1;


}
.nav-list a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 30px;
    margin: 0 17px;
    font-size: 16px;

}
.nav-list a:hover{
    color: red;
    border-bottom: 2px solid red;
}
.nav .nav-search{
    margin-top: 50px;
    width: 580px;
    position: relative;


}
.nav-search input{
    width: 270px;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 13px;
    box-sizing: border-box;

}
.nav-search .search-key{
    position: absolute;
    left: 40px;
    top: 8px;
    font-size: 14px;
}
.search-key a{
    padding: 0 10px;
    color: gray;
    text-decoration: none;
    background: #F5F5F5;
    border: none;
    border-radius: 10px;
}
.search-key a:hover{
    background: dimgray;
    color: white;
}
.nav-search .shopping{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 65px;
    padding: 0 8px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    margin-left: 30px;
}
.nav{
    background: white;

}
.nav-search .shopping:hover{
    color: red;
    border:1px solid red ;
}
.nav-search .login{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 75px;
    padding: 0 8px;
    border: none;
    border-radius: 13px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    color: #F13232;
    background: #f6c243;
}
.nav-search .login:hover{
    border-shadow: #f6c243 3px;
}
















/*中间*/


.container-box {
    min-width: 1300px;
    min-height: calc(100vh - 330px);
}


.container-center{
    padding-bottom: 30px;
    margin: 0 auto;
    width: 1200px!important;

}
.breadcrumb{
    padding: 15px 0;
    font-size: 12px;

}
.breadcrumb__index{
    color: #999;
}
.breadcrumb_listen{
    cursor: default;
    color: #333;
}
.select-lecture{
    background-color: #fff;
    padding: 14px 0;
    font-size: 13px;
    margin-bottom: 30px;
}
.select-row{
    line-height: 22px;
    padding: 8px 33px;
    position: relative;
}
.row__label{
    display: inline-block;
    color: #aaa;
    font-weight: 400;
    text-align: left;
    margin-right: 10px;

}
.row__content{
    display: inline-block;
    position: relative;
    max-width: 950px;
    vertical-align: top;
}
.select-btn1.active{
    padding: 2px 6px;
    border-radius:2px;
    color: #fff;
    background: #f13232;
    box-shadow: 2px 2px 5px rgba(0,0,0,.05);

}

.select-btn.active{
    padding: 2px 6px;
    border-radius:2px;
    color: #fff;
    background: #f13232;
    box-shadow: 2px 2px 5px rgba(0,0,0,.05);

}
.select-btn1{
    padding: 0 6px;
    margin: 0 5px;
    line-height: 22px;
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
}

.select-btn{
    padding: 0 6px;
    margin: 0 5px;
    line-height: 22px;
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
}
.center-title{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}


.list-tab{
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #333;
    font-size: 14px;
    margin-bottom: 20px;
}

.list-tab__title{
    background: transparent;
    color: #333;
    float: left;
    padding: 0 14px;
    cursor: pointer;
}
.active{
    background: #333;
    color: #fff;
}

.center-nc{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 25px;
    height: 400px;

}

.center-nc p{
    margin-top: 20px;
    line-height: 35px;
    font-size: 16px;
}
.course-box{
    margin-left: -5px;
    margin-right: -5px;
    display:none;
    height: 2000px;
}
.course-box-type{
    margin-left: -5px;
    margin-right: -5px;
    display:none;
}
.course-list{
    display: block;
    padding: 0;
    margin: 0;
}
.course-item{
    width: 25%;
    display: block;
    height: auto;
    float: left;
}
.free-card{
    background-color: #fff;
    border: none;
    overflow: hidden;
    margin: 6px;
    position: relative;
    border-radius: 2px;
}
.free-card-top{
    margin-bottom: 20px;
    position: relative;
    height: 160px;
    overflow: hidden;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.free-card-center{
    padding: 2px 15px;
    overflow: hidden;
}
.free-card-avatar{
    float: left;
    width: 26%;
    margin-right: 2%;
    height: 100%;
    text-align: center;
}
.free-card-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
}
.free-card-avatar p{
    margin: 10px 0 0 0;
    font-size: 14px;
    text-align: center;
    white-space: normal;
    word-break: break-all;

}
.free-card-detail{
    float: left;
    width: 72%;
    min-height: 121px;
}
.free-card-detail-title{
    margin: 0 0 10px 0;
    font-size: 16px;
    height: 50px;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.free-card-detail-date{
    font-size: 14px;
    margin: 0;
    color: #999;
    line-height: 20px;
}
.free-card-bottom{
    text-align: center;
    margin: 20px 0;
    height: 30px;
}


.ck-series{
    margin-right: 10px;
}
.just-sign-btn{
    border-radius: 2px;
    font-size: 14px;
    width: 120px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #333;
    border: 1px solid #dedede;







}

/*底部*/
.bottom{

    background: #333333;
    height: 200px;
    width: 100%;
    text-align: center;



}
.bottom .bottom-a{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    padding: 10px 175px;
    color: white;
    font-size: 12px;
}
.bottom-a a{
    color: white;
    text-decoration: none;
}
.bottom .bottom-p1{

    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    text-align: center;
}
.bottom-p1 span{
    color: red;
}
.bottom .bottom-p2{

    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.bottom .bottom-img{

}













