*{margin:0;padding:0;}
body{
    background: #fdfdff;
    /*position: relative;*/
    box-sizing: border-box;
}
div:after{
    content:"";
    display:block;
    clear:both;
}
.language{
    position: absolute;
    margin-left: -50px;
    top:80px;
    z-index: 20;
    width: 170px;
    height: 260px;
    background: white;
    border: 1px solid #ddd;
    text-align: left;
    /*border-radius: 7px;*/
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    display: none;
}
.language p{
    font-family: MicrosoftYaHei;
    margin-top:25px;
    margin-left: 25px;
    font-size: 14px;
}
.language p:hover{
    color: pink;

}
.header-language{
    height: 80px;
    margin-top:65px;
}
.header-language:hover .language{
    display: block;
}
.cover {
    /*position: absolute;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
    position: fixed;
}
.bigImg {
    z-index: 70;
    position: absolute;
    left: 50%;
    margin-left: -375px;
    margin-top: 50px;
    padding: 5px;
    /*background-color: white;*/
}
.header{
    min-width: 300px;
    max-width: 100%;
    height:80px;
    display: flex;
    position: relative;
    /*border: 1px solid red;*/
}
.h-left{
    cursor: pointer;
    flex: 1;
    height: 80px;
    align-items: center;
    display: flex;

}
.h-left a{
    width: 100px;
}
.h-left img{
    margin-left: 30px;
}
.header-left-active {
    color: #212831;
    font-weight: 700;
}
.header-left-active span{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 4px;
    background: #fe9b43;
    border-radius: 2px;
    margin-top: 27px;
    margin-left: -45px;
}
.h-left a:first-of-type{
    font-size: 16px;
    color: #212831;
    flex: 1;
    margin-left: 90px;
    text-decoration: none;
}
.h-left a:nth-of-type(2){
    font-size: 16px;
    color: #212831;
    text-decoration: none;
    flex: 1;
}
.h-left a:last-of-type{
    font-size: 16px;
    color: #212831;
    text-decoration: none;
    flex: 1;
    margin-right: 20px;
}
.h-right{
    cursor: pointer;
    position: relative;
    align-items: center;
    flex: 1;
    display: flex;
    height: 80px;
    /*border: 1px solid red;*/
}
.h-right a{
    display: inline-block;
    margin-top: 10px;
    /*position: relative;*/
}
.h-right input{
    width: 255px;
    height: 32px;
    background: #f5f5f6;
    box-sizing: border-box;
    margin-top: 8px;
    outline: none;
    border: none;
    font-size: 12px;
    color: #212831;
    margin-left: 232px;
    padding-top: 3px;
    padding-left: 34px;
    align-items: center;
    border-radius: 16px;
}
.h-right i{
    position: absolute;
    z-index: 10;
    margin-left: 245px;
    top:36px;
    color: #212831;
}
.h-right a:first-of-type{
    font-size: 16px;
    color: #212831;
    flex: 1;
    margin-left: 30px;
    text-decoration: none;
}
.h-right a:last-of-type{
    font-size: 16px;
    color: #212831;
    flex: 1;
    margin-left: 7px;
    text-decoration: none;
}
.menu{
    position: relative;
    width: 100%;
    height: 250px;

}
.menu .banner{
    position: absolute;
    width: 100%;
    /*background: red;*/
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;

}
.banner .swiper-container{
    width: 100%;
    height: 250px;
    /*设置按钮的大小； >和<按钮*/
    --swiper-navigation-size: 30px;
}
.banner .swiper-slide{
    background-position: center;
    background-size: cover;
}
.bottom-header{
    /*margin: 0 34px;*/
    left: 50%;
    position: relative;
    width: 485px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height:52px;
    background-size: auto;
    margin-left: -240px;
    margin-top: 40px;
    background-image: url("../images/program/wfmid1.png");
    display: flex;
}
.bottom-header-slide1{
    width: 33%;
    height:50px;
    /*border: 1px solid red;*/
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.bottom-header-slide2{
    width: 33%;
    height:50px;
    /*border: 1px solid red;*/
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.bottom-header-slide3{
    width: 33%;
    height:50px;
    /*border: 1px solid red;*/
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.bottom-menu{

    position: relative;
    width: 100%;
    /*height:800px;*/
    /*border: 1px solid red;*/
    box-sizing: border-box;
    margin-top: 45px;
}
.bottom-header-menu-img{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    position: relative;
    /*border: 1px solid red;*/
}
.bottom-header-menu-img img{

    margin-left: 530px;
}
.bottom-header-menu-img span{
    position: absolute;
    width: 80px;
    height: 20px;
    font-size: 20px;
    color: #fb8129;
    margin-left:8px;
    margin-top: 20px;
}
.swiper-next{
    position: relative;
    width: 50px;
    z-index: 10;
    height: 50px;
   right: -49%;
    top: -45%;
}
.swiper-prev{
    position: relative;
    width: 50px;
    z-index: 10;
    height: 50px;
    right: -53%;
    top: -125%;
}
.bottom{
    position: relative;
    width: 100%;
}
.bottom-menu-list{
   width: 100%;
    height:380px;
}
.swiper-bottom-new  .swiper-wrapper{
    width: 100%;
    box-sizing: border-box;
    /*position: relative;*/
    /*border: 1px solid red;*/
}
.bottom-menu-list .swiper-container {
    width:100%;
    /*border: 1px solid red;*/
    /*margin: 0 15px;*/
    /*height:100%;*/
}
.bottom .swiper-slide:nth-of-type(1){
    margin-left: 30px;
}
.bottom-menu-list .swiper-slide {
    width: 17.2% !important;
    height: 260px;
    background: #fff;
    font-size: 15px;
    margin-top:20px;
    /*border: 1px solid red;*/
    display: block;
    margin-right: 26px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
.bottom-menu-list .swiper-slide:nth-of-type(6){
    margin-left:50px !important;
}
.bottom-swiper-slide{

    position: absolute;
    width: 100%;
    height: 166px;
    /*margin-right: 30px;*/
    margin-top: -90px;
}
.bottom-swiper-slide img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bottom-swiper-title{
    position: absolute;
    width: 100%;
    height: 88px;
    /*margin-left: -10px;*/
    box-sizing: border-box;
    /*border: 1px solid blue;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:170px;
    box-shadow: 0 7px 7px -7px #5E5E5E;

}
.bottom-swiper-title p:first-of-type{
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    color: #212831;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.bottom-swiper-title p:nth-of-type(2){
    white-space: nowrap;
    display: inline-block;
    line-height: 16px;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    color: #858c96;
    margin-top: 10px;
}
.bottom-swiper-title i{
    font-size: 12px;
    float: right;
    margin-right: 15px;
}

.bottom-menu-liste-menu{
    width: 100%;
    display: none;
}
.bottom-menu-liste-top{
    margin: 0 30px;
    height:60px;
    /*border: 1px solid red;*/
}
.bottom-menu-liste-top img{
    margin-left: 530px;
}
.bottom-menu-liste-top span:first-of-type{
    position: absolute;
    /*width: 80px;*/
    /*height: 20px;*/
    font-size: 20px;
    color: #fb8129;
    margin-left:8px;
    margin-top: 20px;
}
.bottom-menu-liste-span{
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    color: #212831;
    font-size: 16px;
    text-decoration: none;
}
.active{
    color:#fb8129 ;
}
.bottom-menu-liste-menu{
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 1000px;*/
    /*border: 1px solid blue;*/
    box-sizing: border-box;

}
.bottom-menu-liste-menu .menu{
    margin-left: 31px;
    width: 17.3%;
    height: 260px;
    /*margin-right: 10px;*/
    float: left;
    /*margin-left: 20px;*/
    box-sizing: border-box;
    /*border: 1px solid red ;*/
    margin-top: 15px;

}
.bottom-menu-liste-menu .menu img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bottom-menu-liste-menu .menu p:first-of-type{
    margin-top: 25px;
    color: #212831;
    text-align: left;
    margin-left: 10px;
}
.menu-p{
    height:65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 7px 7px -7px #5E5E5E;
}
.bottom-menu-liste-menu .menu p:last-of-type{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
    color: #858c96;
}
.bottom-menu-liste-menu .menu i{
    font-size: 12px;
    float: right;
    margin-right: 15px;
}
.footerr {
    bottom:0;
    background: #333333;
    height: 200px;
    width: 100%;
    left: 0;
    position: relative;
}
.footerr .bottom-a{
    position: absolute;
    top: 40px;
    text-align: center;
    padding: 10px 165px;
    color: #d0d0d0;
    font-size: 13px;
}
.footerr .bottom-a a{
    display: inline-block;
    line-height: 10px;
    /*padding-top: 15px;*/
    color: #d0d0d0;
    text-decoration: none;
}
.footerr  .bottom-p1{
    padding-top: 80px;
    text-align: center;
    font-size: 13px;
    color: #d0d0d0;
}
.footerr .bottom-p1 span{
    color: red;
}
.footerr .bottom-p2{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #d0d0d0;
}
.footerr  .bottom-img{
    margin-left: 520px;
    margin-top: 10px;
}
.hover{
    display: block;
}
.bottom .two-list{
    display: none;
}