
@font-face {font-family: "iconfont";
  src: url("1599644576-716a0bc77c5c278e0c51cf246ddb24bf.eot"); 
  src: url("1599644576-e8c043cd27515b7f970591e7ca75457f.eot") format('embedded-opentype'), 
  url("1599644576-753dc5c4e79223f5ddf4151ae35d1f8d") format('woff'),
  url("1599644576-ea0d4bed9ef1a786c243697b886e28bd.ttf") format('truetype'), 
  url("1599644576-9f1c5f731b0e732ebe3cf83a1443a653.svg") format('svg'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuxi:before { content: "\e605"; }

.icon-yuxi:before { content: "\e606"; }

.icon-baogao:before { content: "\e607"; }

.icon-zhibo:before { content: "\e608"; }

.icon-ziliao:before { content: "\e609"; }

.icon-ziliaoxiazai:before { content: "\e60a"; }

.icon-rili:before { content: "\e60b"; }

.icon-xiangji:before { content: "\e60c"; }

.icon-xuexiao:before { content: "\e60d"; }

.icon-biaoqian:before { content: "\e60e"; }

.icon-lishi:before { content: "\e60f"; }

.icon-zhuanzhu:before { content: "\e610"; }

.icon-xiazaiAPP:before { content: "\e611"; }

.icon-xuankezixun:before { content: "\e612"; }

.icon-guanyuliaojie:before { content: "\e613"; }

.icon-fanhuidingbu:before { content: "\e614"; }

.icon-yijianfankui:before { content: "\e615"; }

.icon-wenhao:before { content: "\e616"; }

.icon-jingtanhao:before { content: "\e617"; }

.icon-fangdajing:before { content: "\e618"; }

.icon-shezhi:before { content: "\e619"; }

.icon-tuichu:before { content: "\e61a"; }

.icon-qiajihuo:before { content: "\e61b"; }

.icon-guanbi:before { content: "\e61c"; }

.icon-man:before { content: "\e61d"; }

.icon-woman:before { content: "\e61e"; }

.icon-bofang:before { content: "\e61f"; }

.icon-shouqi:before { content: "\e620"; }

.icon-shoucang:before { content: "\e621"; }

.icon-zhangwo:before { content: "\e622"; }

.icon-zhankai:before { content: "\e623"; }

.icon-shanchu:before { content: "\e624"; }

.icon-zuotiben:before { content: "\e625"; }

.icon-shengyin:before { content: "\e626"; }

